@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: Major Mono Display, sans-serif, monospace;
    /* background-color: #ffe766; */
}

/* *******  Navbar and TOP ******************************************* */



#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    border-bottom: 2px solid white;
    border-style: dotted;
    background-color: black;
}

.logo {
    padding: 0 20px 0 20px;
}

.menu{
   flex: 1;
    
 }

 body.home #navegacao li#home a,
 body.colecao #navegacao li#colecao a,
 body.sobre #navegacao li#sobre a,
 body.contato #navegacao  li#contato a {
      color: #ffe766;
       cursor: text;
} */

#navbar ul {
    display: inline-block;
    list-style: none;
    /* border-bottom: 2px solid white; */
    border-style: dotted;
}

#navbar ul li {
    display: inline-block;
    padding: 20px;
    margin: 10px;
}

/* nav ul li:hover {
    background-color: white;
}
                 */
#navbar ul li a {
    color: white;
    text-decoration: none;
   
}

#navbar ul li a:hover {
    color: #ffe766;
}



/* ************ Media Queries ************ */

/* Mobile */

@media (max-width: 535px) {

    #navbar{
        display: grid;
        grid-row: auto;
        padding: 10px;
    }

  .logo a h1{
      font-size: 2.3vw;
  }

  .menu #navegacao li a {
      font-size: 2vw;

  }

}

/* Tablets  */

@media (max-width: 780px) {

    #navbar{
        display: grid;
        grid-row: auto;
        padding: 10px;
    }

  .logo a h1{
      font-size: 2vw;
  }

  .menu #navegacao li a {
      font-size: 2vw;

  }

}